body {
    background-color: beige;
}

#board,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    font-size: 0;
    margin-right: 30px;
    user-select: none;
}

.row div {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

.row div.touching {
    background-color: #bdbdbd;
}

#instructions {
    width: 325px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}
